.new_article {
  margin-top: var(--margin-page);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body form {
    display: flex;
    gap: 5px;
  }

  .body form input {
    width: 100%;
  }

  .body form label {
    display: none;
  }

  .info {
    & form {
      display: flex;
      flex-direction: column;

      & button {
        width: fit-content;
        margin: 0 auto;
        padding: 0 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
      }
    }
  }

  .table_values {
    & input {
      width: 100%;
    }
  }
}

table {
  margin-top: var(--margin-page);
  margin-bottom: var(--margin-page);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}