.articles {
  margin-top: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    row-gap: 15px;

    .card {
      border: 1px solid var(--color-border);
      transition: all 0.3s ease-in-out;
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 425px;
      color: black;


      &:hover {
        border-color: var(--color-hover);
      }

      .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: center;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
      }

      .read-time {
        color: #777;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

      .actions {
        display: flex;
        gap: 5px;
      }
    }
  }
}