@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.articles {
  margin-top: var(--margin-page);

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    row-gap: 15px;

    .card {

      border: 1px solid var(--color-border);
      transition: all 0.3s ease-in-out;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      width: 465px;

      color: black;

      /*transition: all 0.3s;*/
      /*animation: scaleInOut 0.5s forwards;*/

      @media (max-width: 970px) {
        width: 100%;
      }

      /*&:hover {*/
      /*  border-color: var(--color-hover);*/
      /*}*/

      /*&:focus,*/
      /*&:focus-within {*/
      /*  outline: 4px auto var(--color-hover);*/
      /*}*/

      .title {
        font-size: 1rem;
        text-align: initial;
        margin-bottom: 10px;
        color: var(--primary-color);

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
        color: var(--primary-color);
        justify-content: center;
      }

      .read-time {
        color: var(--primary-color);
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        fill: var(--primary-color)
      }

      .actions {
        display: flex;
        gap: 5px;
        fill: var(--primary-color);
        justify-content: center;
      }
    }
  }
}