@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.articles {
  margin-top: var(--margin-page);

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 970px) {
      justify-content: center;
    }
  }
}
