:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #EAEAEA;
  --color-tag: #313D5A;
  --color-selected-tag: #73628A;
  --color-border: rgba(205, 205, 205, 0.13);
  --color-hover: #646cff;
  --color-background: #242424;

  --margin-page: 20px;
}

* {
  box-sizing: border-box;
}

h3 {
  font-size: 1.5rem;
}

/* Valores para quando o usuário prefere o tema claro */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #242424;
    --color-tag: #7AA9DD;
    --color-selected-tag: #A89AC9;
    --color-border: rgba(180, 180, 180, 0.5);
    --color-hover: #4A90E2;
    --color-background: #F5F5F5;
    --transition-velocity: 0.3s;
  }
}


html, body {
  transition: background-color var(--transition-velocity) ease-in-out;
  background-color: var(--color-background);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50px;
  border: 1px solid var(--color-border);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    fill: var(--primary-color);
  }
}
button:hover {
  border-color: var(--color-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-hover);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
